<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>구독하기</title>
</head>
<body>
<div>
    <h1>각종 신문사의 인기기사를 메일로 보내드립니다.</h1>

    <div>
        <h3>구독하기</h3>
        <input type="emailAddress" id="emailAddress" name="emailAddress"
               placeholder="인기기사를 받을 이메일 주소를 입력하세요.">
        <button type="submit" id="btn-subscribe">구독하기</button>
    </div>

    <div>
        <h3>구독 취소</h3>
        <input type="emailAddress" id="cancelEmail" name="emailAddress"
               placeholder="이메일을 입력하세요.">
        <button type="submit" id="btn-cancel-subscribe">구독취소</button>
    </div>

</div>

<script src="/js/listener.js"></script>
</body>
</html>