<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>
<div>
    <h1>많이 본 기사</h1>
    <div class="news-content" th:each="article : ${articles}" style="display: flex;">
        <div class="thumbnail" style="margin: 1rem;">
            <a th:href="${article.link}" target="_blank">
                <img th:if="${article.photoUrl.length() != 0}" th:src="${article.photoUrl}" alt="thumbnail" style="display: block;width: 160px;height: 100px;object-fit: cover;">
            </a>
        </div>
        <div class="contents item" style="box-sizing: border-box;padding-bottom: 3rem;width: 768px;margin: 0 auto;margin-top: 2rem;">
            <h2 style="margin: 0;">
                <a th:href="${article.link}" target="_blank" style="color: black;text-decoration: none">
                    <span th:text="${article.title}"></span>
                </a>
            </h2>
        </div>
    </div>
</div>
</body>
</html>